html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing:inherit;
}

body{
    padding: 0;
    margin: 0;
    font-family:sans-serif;
}
h1,
h2,
h3{
    margin: 0;
    line-height: 1;
}

h1,h2{
    font-family:cursive;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 36px;
}
h3{
    text-transform: uppercase;
    font-size: 18px;
}
a{
    color: #ed145a;
    text-decoration: none;
    display: inline-block;
}
a:hover{
    color: #222;
}
.content-wrapper{
    max-width: 930px;
    margin: 0 auto;
}
/*---global header
------------------*/
.global-header{
    padding: 30px 55px 22px;
    position: relative;
}
.global-nav{
    position: absolute;
    top: 40px;
    right: 55px;
}
.global-nav a{
        text-transform: uppercase;
}
/*---main content
------------------*/
main{
    padding-bottom: 60px;
}
.feature-image{
    width: 100%;
    margin-bottom:60px ;
}
.image-set{
    height: 20%;
    width:20%;
}
/*--mainpage teaser
------------------*/
.exc{
    overflow: hidden;
    background: #eee;
    margin: 20px 0;
}
.exc img {
    float: left;
    margin-right: 15px;
    
}
img{
    width: 100%;
}
.exc h3{
    margin-top: 20px;
}

/*---global footer
------------------*/
.global-footer{
    background: #222;
    color: white;
    padding: 40px 0;
    font-size: 14px;
    overflow: hidden;
}
.global-footer h2{
    font-size: 18px;
}
.about,
.credits{
    width: 50%;
    float: left;
}
.credits{
    text-align: left;
}
.credits ul{
    list-style: none;
}
/*---for homepage
------------------*/
.grid-container{
    display: flex;
    flex-wrap: wrap;
}
.grid-item{
    width: 48%;
    margin-right: 2%;
    padding: 20px;

}